@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

#root {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}


/*   Elements   */


h1 {
  font-family: "Abril Fatface", serif;
  color: rgb(249, 255, 98);
  font-size: 50px
}

body {
  background-color: rgb(232, 223, 211);
  
}

p {
  font-family: "Abril Fatface";
  color: black;
}

footer {
  padding: 50px; 
}